﻿@{
    ViewBag.Title = "Pesawat";
}

    <head>
        <style type="text/css">
            .formp {
                width: 1200px;
                height: 40px;
                text-align: center;
                margin: 3px;
                border-radius: 0.5em;
                opacity: 0.8;
            }
            .formulir{
                border:solid black;
            }
        </style>
    </head>
    <body style="background-color:#1492E6;">
        <div class="formulir" style="background-color:#ffffff; padding-bottom:20px;" >
            <center>
                <h3>Pesan Tiket Pesawat</h3>
                <input class="formp" type="text" placeholder="Nama Penumpang" /><br />
                <input class="formp" type="text" placeholder="Email" /><br />
                <input class="formp" type="text" placeholder="No Telepon" /><br />
                <input class="formp" type="number" placeholder="Usia (Tahun)" /><br />
                <input class="formp" type="text" placeholder="Kota asal" /><br />
                <input class="formp" type="text" placeholder="Kota tujuan" /><br />
                <input class="formp" type="date" placeholder="tanggal pergi" /><br />
                <select class="formp">
                    <option>Pilih Pesawat</option>  
                    <option>Puyuh Air</option>
                    <option>Itik Air</option>
                    <option>Pinguin Air</option>
                </select><br />
                <input class="formp" type="text" placeholder="Alamat lengkap" /><br />
                <input type="submit" value="Pesan" style="border-radius:0.5em;margin-top:4px; width:400px; height:40px;" /><br />
            </center>
        </div>
        <div class="row" style="margin-top:30px;background-color:#ffffff; border-radius:2em;">
            <div class="col-md-4">
                <h2>Promo Tiket Pesawat</h2>
                <img src="~/Image/promo-tiket-pesawat.jpg" style="width:350px; height:150px;" />
                <p>
                    Pesan tiket pesawat murah di Traveloka. Cek harga tiket pesawat online dan dapatkan promo tiket pesawat terbaru. Booking mudah & aman semua maskapai...
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Read more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Promo Hotel Murah</h2>
                <img src="~/Image/promo_tiket_hotel.jpg" style="width:350px; height:150px;" />
                <p>Mau booking hotel murah? Cari lokasi terdekat, pilih bintang sesuai selera & budget kamu, ada harga promo penginapan semua jenis kamar. Pesan online...</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Lokasi Liburan Favorit</h2>
                <img src="~/Image/tempat_liburan_favorit.jpg" style="width:350px; height:150px;" />
                <p>Penuhi rencana liburan Anda dengan tempat wisata Indonesia yang kerap menjadi destinasi liburan bagi wisatawan asing berikut. Mana favorit Anda?...</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Read more &raquo;</a></p>
            </div>
        </div>
    </body>
