﻿@{
    ViewBag.Title = "Home Page";
}
    <body  style="background-color:#1492E6;">
        <center>
            <div class="container">
                <div class="row">
                    <!-- Carousel -->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="">
                            <div class="item active">
                                <img src="~/Image/carousel_3.jpg" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="~/Image/carousel_2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="~/Image/carousel_1.jpg" alt="Third slide">
                            </div>
                        </div>
                    </div><!-- /carousel -->
                </div>
            </div>

            <div class="row" style="margin-top:30px;background-color:#ffffff; border-radius:2em;">
                <div class="col-md-4">
                    <h2>Promo Tiket Pesawat</h2>
                    <img src="~/Image/promo-tiket-pesawat.jpg" style="width:350px; height:150px;" />
                    <p>
                        Pesan tiket pesawat murah di Traveloka. Cek harga tiket pesawat online dan dapatkan promo tiket pesawat terbaru. Booking mudah & aman semua maskapai...
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Read more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Promo Hotel Murah</h2>
                    <img src="~/Image/promo_tiket_hotel.jpg" style="width:350px; height:150px;" />
                    <p>Mau booking hotel murah? Cari lokasi terdekat, pilih bintang sesuai selera & budget kamu, ada harga promo penginapan semua jenis kamar. Pesan online...</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Lokasi Liburan Favorit</h2>
                    <img src="~/Image/tempat_liburan_favorit.jpg" style="width:350px; height:150px;" />
                    <p>Penuhi rencana liburan Anda dengan tempat wisata Indonesia yang kerap menjadi destinasi liburan bagi wisatawan asing berikut. Mana favorit Anda?...</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Read more &raquo;</a></p>
                </div>
            </div>

        </center>
    </body>