﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/bootstrap-theme.css">
    <link rel="stylesheet" href="/Content/css.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Traveller</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="log">
                        <img src="~/Content/images/logo.png" alt="">
                        <h2>Travelancar</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="content">
               
                @RenderBody()

            </div>
        </div>
    </div>

    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
